.navbar {
  width: 100%;
  background-color: #d66b96;
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  color: rgb(255, 254, 254);
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px;
  border: 5px solid rgb(219, 196, 203);
  border-radius: 10px;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-menu li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.nav-menu li a:hover {
  color: #00ff99;
}

/* Toggle Button (Hamburger) */
.nav-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.nav-toggle span {
  width: 25px;
  height: 3px;
  background: white;
  border-radius: 2px;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .nav-toggle {
    display: flex;
  }

  .nav-menu {
    position: absolute;
    top: 60px;
    right: 0;
    background: #db748a;
    width: 100%;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
    text-align: center;
    margin-top: 15px;
    display: none;
  }

  .nav-menu.active {
    display: flex;
  }
}

@media (max-width: 480px) {
  .nav-logo {
    font-size: 1.4rem;
  }
  
  .nav-menu {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
}
