*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --bg: #0a0a0a;
  --text: #ffffff;
  --primary: #ff5733;
}